/* Contenedor absoluto */
.app-global-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--color-bg);
}

.app-layout {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
}

.sidenav {
  width: 250px;
  min-width: 250px;
  background-color: var(--color-surface-raised);
}

.main-viewport {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content-container {
  flex: 1;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
}
